* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  display: block;
}

h1 {
  font-size: 2.5em;
  text-align: center;
  font-family: Montserrat;
}

h2 {
  font-size: 2em;
  text-align: center;
  font-family: Poppins;
  margin: 0;
}

h3 {
  font-family: Montserrat;
}

p {
  font-family: Poppins;
  font-size: .9rem;
}

nav {
  background-color: #FF7F50;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.nav-list {
  display: flex;
  padding: 2rem;
  color: white;
  font-family: Montserrat;
}

nav a {
  text-decoration: none;
  color: white;
  padding: .75rem;
}

nav a:hover {
  background-color: #D3d3d3;
}

ul {
  list-style: none;
}

#welcome-section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #AFEEEE;
}

#projects {
  background-color: #C8A2C8;
  margin: 0;
}

#projects, #contact {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact {
  background-color: #FFFFE0;
  font-family: Poppins;
}

.tile-section {
  display: flex;
  justify-content: space-around;
  padding: 20px
}

.project-tile {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;  
  background-color: #D3D3D3;
  color: black;
  text-decoration: none;
  padding: 1em;
  border-radius: 15px;
}

@media (max-width: 600px) {
.tile-section {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  padding: 20px
}  

.project-tile {
  width: 75%;
  margin: .75em 0;
}

}

.project-pic {
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.project-button, .contact-button {
  width: 33%;
  padding: 1em;
  border: none;
  border-radius: 15px;
  background-color: #FFC0CB;
  font-family: Montserrat;
  font-size: 1rem;
  color: white;
  text-decoration: none;
  text-align: center;
}

.fa-brands {
  font-size: 2em;
}

.social-buttons a {
  color: black;
  text-decoration: none;
  padding: 10px 1.5em;
}

.social-buttons {
  display: flex;
  width: 50%;
  justify-content: center;
  margin: 1em;
}

footer {
  display: flex;
  justify-content: space-evenly;
  padding: 1.75em 0;
}

.footer-blurb {
  width: 60%;
  font-size: .7em;
}

.copyright {
  text-align: right;
  width: 30%;
  font-size: .7em;
}
